<div *ngIf="film">
  <h2>{{film.title}}</h2>
  <div class="ui segment segment min-height">
    <h4>Opening crawl:</h4>
    <p>{{film.opening_crawl}}</p>
    <table class="ui celled striped table">
        <thead>
          <tr>
            <th colspan="2">Meta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing">episode_id</td>
            <td>{{film.episode_id}}</td>
          </tr>
          <tr>
            <td class="collapsing">director</td>
            <td>{{film.director}}</td>
          </tr>
          <tr>
            <td class="collapsing">producer</td>
            <td>{{film.producer}}</td>
          </tr>
          <tr>
            <td class="collapsing">release_date</td>
            <td>{{film.release_date}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div *ngIf="!film">
  <h2>Loading...</h2>
  <div class="ui segment min-height">
    <div class="ui active inverted dimmer">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
</div>
