<h2>Planets</h2>
<div *ngIf="planets.length > 0" class="ui grid">
  <div class="eight wide column" *ngFor="let planet of planets">
    <a routerLink="/planets/{{planet.id}}" class="ui card">
      <div class="content">
        <div class="header">{{planet.name}}</div>
        <div class="meta">
          <span>Population: {{planet.population}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
<div *ngIf="planets.length === 0" class="ui segment min-height">
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
</div>