<div class="ui main container">
  <div class="ui two column padded grid">
    <div class="five wide column">
      <h1>Star Wars App</h1>
      <div class="ui vertical menu">
        <div class="item">
          <div class="menu">
            <a class="item" routerLink="" routerLinkActive="active">Home</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Universe</div>
          <div class="menu">
            <a class="item" routerLink="/people" routerLinkActive="active">People</a>
            <a class="item" routerLink="/films" routerLinkActive="active">Films</a>
            <a class="item" routerLink="/starships" routerLinkActive="active">Starships</a>
            <a class="item" routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
            <a class="item" routerLink="/species" routerLinkActive="active">Species</a>
            <a class="item" routerLink="/planets" routerLinkActive="active">Planets</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Random</div>
          <div class="menu">
            <a class="item" routerLink="/counter" routerLinkActive="active">Counter</a>
            <a class="item">To-do list</a>
          </div>
        </div>
        <div class="item">
          <div class="header">About</div>
          <div class="menu">
            <a href="https://github.com/loteoo/swapi-ng-app" target="_blank" class="item">Source code</a>
            <a href="https://alexlotte.ca" target="_blank" class="item">Author</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Built with</div>
          <div class="menu">
            <a href="https://angular.io/" target="_blank" class="item">Angular 7</a>
            <a href="https://semantic-ui.com/" target="_blank" class="item">Sementic UI</a>
            <a href="https://swapi.co/" target="_blank" class="item">Swapi</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui eleven wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
