<header>
  <div class="ui container">
    <h1>Swapi app</h1>
  </div>
</header>
<div class="ui container">
  <div class="ui two column padded grid">
    <div class="six wide column">
      <div class="ui vertical menu">
        <div class="item">
          <div class="header">App</div>
          <div class="menu">
            <a class="item" routerLink="" routerLinkActive="active">Home</a>
          </div>
        </div>
        <div class="item">
          <div class="header">SWAPI</div>
          <div class="menu">
            <a class="item" routerLink="people" routerLinkActive="active">People</a>
            <a class="item">Python</a>
            <a class="item">PHP</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Hosting</div>
          <div class="menu">
            <a class="item">Shared</a>
            <a class="item">Dedicated</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Support</div>
          <div class="menu">
            <a class="item">E-mail Support</a>
            <a class="item">FAQs</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
