<h2>Films</h2>
<div *ngIf="films.length > 0" class="ui grid">
  <div class="eight wide column" *ngFor="let film of films">
    <a routerLink="/films/{{film.id}}" class="ui card">
      <div class="content">
        <div class="header">{{film.title}}</div>
        <div class="meta">
          <span>{{film.release_date | date:'yyyy'}}, {{film.director}}</span>
        </div>
        <div class="description">
          {{film.opening_crawl}}
        </div>
      </div>
    </a>
  </div>
</div>
<div *ngIf="films.length === 0" class="ui segment min-height">
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
</div>